dashboard/hygarden_dashboard.json
[{"id":"87bfb993.cb80e","type":"tab","label":"HyGarden","disabled":false,"info":""},{"id":"c0fc1cb0.f9a258","type":"mqtt in","z":"87bfb993.cb80e","name":"environment","topic":"/environment","qos":"0","datatype":"json","broker":"14fca92c.843fef","nl":false,"rap":true,"rh":0,"x":270,"y":120,"wires":[["d6aa8748.1210b"]]},{"id":"d6aa8748.1210b","type":"switch","z":"87bfb993.cb80e","name":"device uuid","property":"payload.uuid","propertyType":"msg","rules":[{"t":"eq","v":"config.uuid","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":500,"y":120,"wires":[["ebdadea.4927ea","fb2f1fe6.e23cd","efeb36ad.6c4c88","4d908bf.882a4f4","ae7f523f.c48be8","6a132044.b272c8"]]},{"id":"ebdadea.4927ea","type":"ui_gauge","z":"87bfb993.cb80e","name":"","group":"b9b51147.45c4e8","order":5,"width":0,"height":0,"gtype":"wave","title":"Moisture","label":"","format":"{{msg.payload.moisture}}","min":0,"max":"1","colors":["#a0a0a0","#00ff00","#a0a0a0"],"seg1":"0.55","seg2":"0.70","x":740,"y":120,"wires":[]},{"id":"b8375987.1a82b","type":"mqtt in","z":"87bfb993.cb80e","name":"status","topic":"/status","qos":"0","datatype":"json","broker":"14fca92c.843fef","nl":false,"rap":true,"rh":0,"x":230,"y":640,"wires":[["ad413f91.b7b0b8","46d1001e.af555","b91e34c0.a0d8f"]]},{"id":"ad413f91.b7b0b8","type":"switch","z":"87bfb993.cb80e","name":"device uuid","property":"payload.uuid","propertyType":"msg","rules":[{"t":"eq","v":"config.uuid","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":470,"y":640,"wires":[["c4b63885.2a05d8","940921ac.0547d8","60bf90ef.6a951","f43da256.e7e148","66a221e.6c6806","e862f670.0ac8a","11326b9b.930994","8e7717f8.d7304","f9c1307b.328838","8f02728b.7f01b8","ea80545f.4b557","682d3167.01c698"]]},{"id":"950df5e.6215a88","type":"change","z":"87bfb993.cb80e","name":"","rules":[{"t":"set","p":"discovery_uuid","pt":"flow","to":"payload.uuid","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":480,"wires":[["5cdad03.91cdb3"]]},{"id":"94f835c7.ae60d","type":"ui_text","z":"87bfb993.cb80e","group":"f74621dd.b3e348","order":11,"width":0,"height":0,"name":"","label":"Solenoid","format":"{{msg.payload}}","layout":"row-center","x":980,"y":700,"wires":[]},{"id":"91eb504c.495b78","type":"mqtt out","z":"87bfb993.cb80e","name":"discovery","topic":"/discovery","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"14fca92c.843fef","x":660,"y":400,"wires":[]},{"id":"8170b770.0beee8","type":"ui_button","z":"87bfb993.cb80e","name":"","group":"92191fae.e04e28","order":2,"width":0,"height":0,"passthru":false,"label":"Discovery","tooltip":"Initialize discovery","color":"","bgcolor":"","icon":"","payload":"discovery_key","payloadType":"flow","topic":"","topicType":"str","x":440,"y":400,"wires":[["91eb504c.495b78"]]},{"id":"910e0b6d.0ada","type":"ui_text_input","z":"87bfb993.cb80e","name":"","label":"Discovery Key","tooltip":"","group":"92191fae.e04e28","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"payload","topicType":"msg","x":860,"y":400,"wires":[["2411c35.ff1083c"]]},{"id":"2411c35.ff1083c","type":"change","z":"87bfb993.cb80e","name":"","rules":[{"t":"set","p":"discovery_key","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":400,"wires":[[]]},{"id":"5cdad03.91cdb3","type":"ui_text","z":"87bfb993.cb80e","group":"92191fae.e04e28","order":3,"width":0,"height":0,"name":"","label":"Discovery UUID","format":"{{msg.payload.uuid}}","layout":"col-center","x":1100,"y":480,"wires":[]},{"id":"61ee8cbb.0ddc64","type":"ui_button","z":"87bfb993.cb80e","name":"","group":"92191fae.e04e28","order":4,"width":0,"height":0,"passthru":false,"label":"Select UUID","tooltip":"","color":"","bgcolor":"","icon":"","payload":"discovery_uuid","payloadType":"flow","topic":"topic","topicType":"msg","x":650,"y":340,"wires":[["95a70255.b4af8"]]},{"id":"95a70255.b4af8","type":"change","z":"87bfb993.cb80e","name":"","rules":[{"t":"set","p":"config.uuid","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":340,"wires":[["51a50082.27f5d8"]]},{"id":"46d1001e.af555","type":"switch","z":"87bfb993.cb80e","name":"Match discovery_key","property":"payload.discovery_key","propertyType":"msg","rules":[{"t":"eq","v":"discovery_key","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":480,"y":480,"wires":[["950df5e.6215a88"]]},{"id":"51a50082.27f5d8","type":"ui_text","z":"87bfb993.cb80e","group":"92191fae.e04e28","order":5,"width":0,"height":0,"name":"","label":"Active UUID","format":"{{msg.payload}}","layout":"col-center","x":1110,"y":340,"wires":[]},{"id":"b91e34c0.a0d8f","type":"debug","z":"87bfb993.cb80e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":430,"y":720,"wires":[]},{"id":"cb21f08e.8bc53","type":"change","z":"87bfb993.cb80e","name":"","rules":[{"t":"set","p":"config.sensors.SoilMoisture.threshold","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1370,"y":900,"wires":[[]]},{"id":"20904fcc.3de72","type":"ui_dropdown","z":"87bfb993.cb80e","name":"","label":"Solenoid Mode","tooltip":"","place":"Select option","group":"f74621dd.b3e348","order":12,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"on","value":"on","type":"str"},{"label":"off","value":"off","type":"str"},{"label":"auto","value":"auto","type":"str"},{"label":"schedule","value":"schedule","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":1000,"y":760,"wires":[["47c43ecf.a01dd8"]]},{"id":"47c43ecf.a01dd8","type":"change","z":"87bfb993.cb80e","name":"","rules":[{"t":"set","p":"config.solenoid.mode","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1260,"y":760,"wires":[[]]},{"id":"9be3a813.cfa6b","type":"ui_button","z":"87bfb993.cb80e","name":"","group":"f74621dd.b3e348","order":17,"width":0,"height":0,"passthru":false,"label":"Update config","tooltip":"","color":"","bgcolor":"","icon":"","payload":"config","payloadType":"flow","topic":"topic","topicType":"msg","x":260,"y":1480,"wires":[["1af2f1fa.81eefe"]]},{"id":"1af2f1fa.81eefe","type":"change","z":"87bfb993.cb80e","name":"","rules":[{"t":"set","p":"payload.action","pt":"msg","to":"write","tot":"str"},{"t":"set","p":"payload.destination_uuid","pt":"msg","to":"config.uuid","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":1480,"wires":[["656a11f6.67923"]]},{"id":"656a11f6.67923","type":"mqtt out","z":"87bfb993.cb80e","name":"","topic":"/control","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"14fca92c.843fef","x":1040,"y":1480,"wires":[]},{"id":"fb2f1fe6.e23cd","type":"debug","z":"87bfb993.cb80e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":750,"y":40,"wires":[]},{"id":"eb19043c.0d43d","type":"ui_button","z":"87bfb993.cb80e","name":"","group":"f74621dd.b3e348","order":16,"width":0,"height":0,"passthru":false,"label":"Report config","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"action\":\"read\"}","payloadType":"json","topic":"topic","topicType":"msg","x":270,"y":1540,"wires":[["9d5cac91.4416e"]]},{"id":"9d5cac91.4416e","type":"change","z":"87bfb993.cb80e","name":"","rules":[{"t":"set","p":"payload.destination_uuid","pt":"msg","to":"config.uuid","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":1560,"wires":[["656a11f6.67923"]]},{"id":"a1f82bfa.a46358","type":"ui_button","z":"87bfb993.cb80e","name":"","group":"f74621dd.b3e348","order":18,"width":0,"height":0,"passthru":false,"label":"Store config","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{ \"action\" : \"store\" }","payloadType":"json","topic":"topic","topicType":"msg","x":270,"y":1600,"wires":[["9d5cac91.4416e"]]},{"id":"503d2158.674c3","type":"ui_slider","z":"87bfb993.cb80e","name":"","label":"Moisture Threshold","tooltip":"","group":"f74621dd.b3e348","order":7,"width":0,"height":0,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"1","step":"0.01","x":1030,"y":900,"wires":[["cb21f08e.8bc53"]]},{"id":"c4b63885.2a05d8","type":"function","z":"87bfb993.cb80e","name":"","func":"if (msg.payload.solenoid == undefined) {\n    msg.payload = null;\n} else if (msg.payload.solenoid.state == undefined) {\n    msg.payload = null;\n} else {\n    msg.payload = msg.payload.solenoid.state;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":700,"wires":[["39b403b6.29729c"]]},{"id":"b1f2f9d.63ed888","type":"ui_switch","z":"87bfb993.cb80e","name":"","label":"Active","tooltip":"","group":"f74621dd.b3e348","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":1010,"y":640,"wires":[["3d67484b.28ebe8"]]},{"id":"3d67484b.28ebe8","type":"change","z":"87bfb993.cb80e","name":"","rules":[{"t":"set","p":"config.active","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200,"y":640,"wires":[[]]},{"id":"940921ac.0547d8","type":"function","z":"87bfb993.cb80e","name":"","func":"if (msg.payload.active == undefined) {\n    msg.payload = null;\n} else {\n    msg.payload = msg.payload.active;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":640,"wires":[["e9675f04.b838e"]]},{"id":"60bf90ef.6a951","type":"function","z":"87bfb993.cb80e","name":"","func":"if (msg.payload.sensors == undefined) {\n    msg.payload = null;\n} else if (msg.payload.sensors.SoilMoisture == undefined) {\n    msg.payload = null;\n} else if (msg.payload.sensors.SoilMoisture.threshold == undefined) {\n    msg.payload = null;\n} else {\n    msg.payload = msg.payload.sensors.SoilMoisture.threshold;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":900,"wires":[["e163191b.f5074"]]},{"id":"f43da256.e7e148","type":"function","z":"87bfb993.cb80e","name":"","func":"if (msg.payload.solenoid == undefined) {\n    msg.payload = null;\n} else if (msg.payload.solenoid.mode == undefined) {\n    msg.payload = null;\n} else {\n    msg.payload = msg.payload.solenoid.mode;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":760,"wires":[["d05be073.10c608"]]},{"id":"e9675f04.b838e","type":"switch","z":"87bfb993.cb80e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":850,"y":640,"wires":[["b1f2f9d.63ed888"]]},{"id":"e163191b.f5074","type":"switch","z":"87bfb993.cb80e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":850,"y":900,"wires":[["503d2158.674c3"]]},{"id":"d05be073.10c608","type":"switch","z":"87bfb993.cb80e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":850,"y":760,"wires":[["20904fcc.3de72"]]},{"id":"367bf0cd.71f0b","type":"ui_text","z":"87bfb993.cb80e","group":"f74621dd.b3e348","order":3,"width":0,"height":0,"name":"","label":"BME280","format":"{{msg.payload}}","layout":"row-center","x":1000,"y":1260,"wires":[]},{"id":"188e963.db03a6a","type":"ui_slider","z":"87bfb993.cb80e","name":"","label":"Moisture Probes","tooltip":"","group":"f74621dd.b3e348","order":5,"width":0,"height":0,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":"0","max":"8","step":1,"x":1020,"y":840,"wires":[["11fd04dc.0d69cb"]]},{"id":"11fd04dc.0d69cb","type":"change","z":"87bfb993.cb80e","name":"","rules":[{"t":"set","p":"config.sensors.SoilMoisture.count","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1360,"y":840,"wires":[[]]},{"id":"cfb5b4b2.4eff78","type":"switch","z":"87bfb993.cb80e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":850,"y":840,"wires":[["188e963.db03a6a"]]},{"id":"66a221e.6c6806","type":"function","z":"87bfb993.cb80e","name":"","func":"if (msg.payload.sensors == undefined) {\n    msg.payload = null;\n} else if (msg.payload.sensors.SoilMoisture == undefined) {\n    msg.payload = null;\n} else if (msg.payload.sensors.SoilMoisture.count == undefined) {\n    msg.payload = null;\n} else {\n    msg.payload = msg.payload.sensors.SoilMoisture.count;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":840,"wires":[["cfb5b4b2.4eff78"]]},{"id":"ffb6f886.6c827","type":"ui_switch","z":"87bfb993.cb80e","name":"","label":"Enable Moisture Probes","tooltip":"","group":"f74621dd.b3e348","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":1050,"y":960,"wires":[["7232198d.9d8318"]]},{"id":"7232198d.9d8318","type":"change","z":"87bfb993.cb80e","name":"","rules":[{"t":"set","p":"config.sensors.SoilMoisture.enabled","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1370,"y":960,"wires":[[]]},{"id":"3307eb58.701814","type":"switch","z":"87bfb993.cb80e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":850,"y":960,"wires":[["ffb6f886.6c827"]]},{"id":"e862f670.0ac8a","type":"function","z":"87bfb993.cb80e","name":"","func":"if (msg.payload.sensors == undefined) {\n    msg.payload = null;\n} else if (msg.payload.sensors.SoilMoisture == undefined) {\n    msg.payload = null;\n} else if (msg.payload.sensors.SoilMoisture.enabled == undefined) {\n    msg.payload = null;\n} else {\n    msg.payload = msg.payload.sensors.SoilMoisture.enabled;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":960,"wires":[["3307eb58.701814"]]},{"id":"c15d6d06.2afb38","type":"change","z":"87bfb993.cb80e","name":"","rules":[{"t":"set","p":"config.sensors.SoilMoisture.operation","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1380,"y":1020,"wires":[[]]},{"id":"567ca7e1.3d6d9","type":"switch","z":"87bfb993.cb80e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":850,"y":1020,"wires":[["f073ad2c.5f95a8"]]},{"id":"11326b9b.930994","type":"function","z":"87bfb993.cb80e","name":"","func":"if (msg.payload.sensors == undefined) {\n    msg.payload = null;\n} else if (msg.payload.sensors.SoilMoisture == undefined) {\n    msg.payload = null;\n} else if (msg.payload.sensors.SoilMoisture.operation == undefined) {\n    msg.payload = null;\n} else {\n    msg.payload = msg.payload.sensors.SoilMoisture.operation;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":1020,"wires":[["567ca7e1.3d6d9"]]},{"id":"f073ad2c.5f95a8","type":"ui_dropdown","z":"87bfb993.cb80e","name":"","label":"Moisture Probe Operation","tooltip":"","place":"Select option","group":"f74621dd.b3e348","order":8,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"none","value":"none","type":"str"},{"label":"average","value":"avg","type":"str"},{"label":"min","value":"min","type":"str"},{"label":"max","value":"max","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":1050,"y":1020,"wires":[["c15d6d06.2afb38"]]},{"id":"23f617dd.ef24a8","type":"ui_slider","z":"87bfb993.cb80e","name":"","label":"Select Probe","tooltip":"","group":"f74621dd.b3e348","order":9,"width":0,"height":0,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":"0","max":"7","step":1,"x":1010,"y":1080,"wires":[["67236226.bc7b6c"]]},{"id":"67236226.bc7b6c","type":"change","z":"87bfb993.cb80e","name":"","rules":[{"t":"set","p":"config.sensors.SoilMoisture.select","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1360,"y":1080,"wires":[[]]},{"id":"32f6cddf.60b462","type":"switch","z":"87bfb993.cb80e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":850,"y":1080,"wires":[["23f617dd.ef24a8"]]},{"id":"8e7717f8.d7304","type":"function","z":"87bfb993.cb80e","name":"","func":"if (msg.payload.sensors == undefined) {\n    msg.payload = null;\n} else if (msg.payload.sensors.SoilMoisture == undefined) {\n    msg.payload = null;\n} else if (msg.payload.sensors.SoilMoisture.select == undefined) {\n    msg.payload = null;\n} else {\n    msg.payload = msg.payload.sensors.SoilMoisture.select;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":1080,"wires":[["32f6cddf.60b462"]]},{"id":"b72dc13c.d799d","type":"change","z":"87bfb993.cb80e","name":"","rules":[{"t":"set","p":"config.interval.report","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1320,"y":1200,"wires":[[]]},{"id":"d0d5f7ff.2b8b08","type":"switch","z":"87bfb993.cb80e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":850,"y":1200,"wires":[["48e4dacc.d04424"]]},{"id":"44b963c6.ec25ec","type":"change","z":"87bfb993.cb80e","name":"","rules":[{"t":"set","p":"config.interval.sample","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1330,"y":1140,"wires":[[]]},{"id":"614d2b95.413db4","type":"switch","z":"87bfb993.cb80e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":850,"y":1140,"wires":[["ec775bda.e4d94"]]},{"id":"f9c1307b.328838","type":"function","z":"87bfb993.cb80e","name":"","func":"if (msg.payload.interval == undefined) {\n    msg.payload = null;\n} else if (msg.payload.interval.sample == undefined) {\n    msg.payload = null;\n} else {\n    msg.payload = msg.payload.interval.sample;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":1140,"wires":[["614d2b95.413db4"]]},{"id":"ec775bda.e4d94","type":"ui_numeric","z":"87bfb993.cb80e","name":"","label":"Sample Interval (s)","tooltip":"","group":"f74621dd.b3e348","order":14,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}}","min":"1","max":"600","step":1,"x":1030,"y":1140,"wires":[["44b963c6.ec25ec"]]},{"id":"8f02728b.7f01b8","type":"function","z":"87bfb993.cb80e","name":"","func":"if (msg.payload.interval == undefined) {\n    msg.payload = null;\n} else if (msg.payload.interval.report == undefined) {\n    msg.payload = null;\n} else {\n    msg.payload = msg.payload.interval.report;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":1200,"wires":[["d0d5f7ff.2b8b08"]]},{"id":"48e4dacc.d04424","type":"ui_numeric","z":"87bfb993.cb80e","name":"","label":"Report Interval (s)","tooltip":"","group":"f74621dd.b3e348","order":15,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}}","min":"1","max":"3600","step":1,"x":1030,"y":1200,"wires":[["b72dc13c.d799d"]]},{"id":"ea80545f.4b557","type":"function","z":"87bfb993.cb80e","name":"","func":"if (msg.payload.sensors == undefined) {\n    msg.payload = null;\n} else if (msg.payload.sensors.BME280 == undefined) {\n    msg.payload = null;\n} else if (msg.payload.sensors.BME280.connected == undefined) {\n    msg.payload = null;\n} else {\n    if (msg.payload.sensors.BME280.connected) {\n        msg.payload = \"connected\";\n    } else {\n        msg.payload = \"disconnected\";\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":1260,"wires":[["863b2987.58762"]]},{"id":"863b2987.58762","type":"switch","z":"87bfb993.cb80e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":850,"y":1260,"wires":[["367bf0cd.71f0b"]]},{"id":"39b403b6.29729c","type":"switch","z":"87bfb993.cb80e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":850,"y":700,"wires":[["94f835c7.ae60d"]]},{"id":"efeb36ad.6c4c88","type":"ui_gauge","z":"87bfb993.cb80e","name":"","group":"b9b51147.45c4e8","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"C","format":"{{msg.payload.temperature}}","min":"-20","max":"50","colors":["#00dbff","#00ff00","#ff6e00"],"seg1":"10","seg2":"30","x":750,"y":160,"wires":[]},{"id":"4d908bf.882a4f4","type":"ui_gauge","z":"87bfb993.cb80e","name":"","group":"b9b51147.45c4e8","order":4,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{msg.payload.humidity}}","min":0,"max":"100","colors":["#ff4900","#00abff","#00ff17"],"seg1":"30","seg2":"50","x":740,"y":200,"wires":[]},{"id":"ae7f523f.c48be8","type":"ui_gauge","z":"87bfb993.cb80e","name":"","group":"b9b51147.45c4e8","order":3,"width":0,"height":0,"gtype":"gage","title":"Pressure","label":"hPa","format":"{{msg.payload.pressure}}","min":"850","max":"1100","colors":["#ff3700","#00ff00","#00ebff"],"seg1":"1000","seg2":"1030","x":740,"y":240,"wires":[]},{"id":"705177e1.db9ef8","type":"ui_form","z":"87bfb993.cb80e","name":"","label":"Add Scheduled Event","group":"f74621dd.b3e348","order":18,"width":0,"height":0,"options":[{"label":"Enable","value":"enabled","type":"checkbox","required":true,"rows":null},{"label":"Day (Su, Mo, ...)","value":"day","type":"text","required":true,"rows":null},{"label":"Slot","value":"index","type":"number","required":true,"rows":null},{"label":"Start","value":"start","type":"time","required":true,"rows":null},{"label":"End","value":"end","type":"time","required":true,"rows":null}],"formValue":{"enabled":false,"day":"","index":"","start":"","end":""},"payload":"","submit":"Submit","cancel":"Cancel","topic":"topic","topicType":"msg","splitLayout":"","x":240,"y":1660,"wires":[["24dbb06c.6ec9c8","b45b75bd.b03b6"]]},{"id":"1e85d3fa.e8483c","type":"debug","z":"87bfb993.cb80e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":990,"y":1760,"wires":[]},{"id":"63997048.ab27a","type":"function","z":"87bfb993.cb80e","name":"","func":"\nvar start_times = [-1, -1, -1, -1];\nvar end_times = [-1, -1, -1, -1];\n\nstart_times[msg.payload.index-1] = to_local_mins(msg.payload.start);\nend_times[msg.payload.index-1] = to_local_mins(msg.payload.end);\n\nfunction to_local_mins(time_string) {\n    var localDate = new Date(time_string);\n    var hlocal = localDate.getHours();\n    var mlocal = localDate.getMinutes()\n    return 60*hlocal + mlocal;\n}\n\nvar days = msg.payload.day.split(\",\").map(lbl_trim)\nfunction lbl_trim(value, index, array) {\n  return value.trim();\n}\n\nvar schedule = {}\ndays.forEach(insert_day);\nfunction insert_day(value, index, array) {\n    schedule[value] = {\n        \"enabled\" : msg.payload.enabled,\n        \"start\" : start_times,\n        \"stop\" : end_times\n    }\n}\nvar d = new Date();\nschedule[\"tz_offset\"] = -d.getTimezoneOffset();\n\nvar cfg = {\n    \"destination_uuid\" : msg.payload.destination_uuid,\n    \"action\" : \"write\",\n    \"solenoid\" : {\n        \"schedule\" : schedule\n    }\n}\nmsg.payload = cfg;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":1660,"wires":[["1e85d3fa.e8483c","656a11f6.67923"]]},{"id":"24dbb06c.6ec9c8","type":"change","z":"87bfb993.cb80e","name":"","rules":[{"t":"set","p":"payload.destination_uuid","pt":"msg","to":"config.uuid","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":1660,"wires":[["63997048.ab27a"]]},{"id":"7148383b.644808","type":"ui_template","z":"87bfb993.cb80e","group":"92191fae.e04e28","name":"Schedule","order":7,"width":"9","height":"8","format":"<table id=\"table\" border=\"1\">\n    <tr>\n        <th></th>\n        <th>Su</th>\n        <th>Mo</th>\n        <th>Tu</th>\n        <th>We</th>\n        <th>Th</th>\n        <th>Fr</th>\n        <th>Sa</th>\n    </tr>\n    <tr ng-repeat=\"row in msg.payload\">\n        <th>{{row.header}}</th>\n        <td>{{row.data[0]}}</td>\n        <td>{{row.data[1]}}</td>\n        <td>{{row.data[2]}}</td>\n        <td>{{row.data[3]}}</td>\n        <td>{{row.data[4]}}</td>\n        <td>{{row.data[5]}}</td>\n        <td>{{row.data[6]}}</td>\n    </tr>\n</table>","storeOutMessages":false,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1180,"y":1320,"wires":[[]]},{"id":"3985a11.a9c025e","type":"function","z":"87bfb993.cb80e","name":"","func":"var test = {\n    \"Su\":{\n        \"enabled\":true,\n        \"start\":[60*6 + 30,0,0,0],\n        \"stop\":[60*7+30,0,0,0]\n    },\n    \"Mo\":{\n        \"enabled\":true,\n        \"start\":[60*5 + 30,60*16 + 30,0,0],\n        \"stop\":[60*6,60*17,0,0]\n    },\n    \"Tu\":{\n        \"enabled\":true,\n        \"start\":[60*5 + 30,60*16 + 30,0,0],\n        \"stop\":[60*6,60*17,0,0]\n    },\n    \"We\":{\n        \"enabled\":true,\n        \"start\":[60*5 + 30,60*16 + 30,0,0],\n        \"stop\":[60*6,60*17,0,0]\n    },\n    \"Th\":{\n        \"enabled\":true,\n        \"start\":[60*5 + 30,60*16 + 30,0,0],\n        \"stop\":[60*6,60*17,0,0]\n    },\n    \"Fr\":{\n        \"enabled\":false,\n        \"start\":[0,0,0,0],\n        \"stop\":[0,0,0,0]\n    },\n    \"Sa\":{\n        \"enabled\":true,\n        \"start\":[60*6 + 30,0,0,0],\n        \"stop\":[60*7+30,0,0,0]\n    }\n}\n//msg.payload = test\n\nvar days = [\"Su\",\"Mo\",\"Tu\",\"We\",\"Th\",\"Fr\",\"Sa\"];\n\nvar en = { \"header\":\"Enabled\",\"data\":[] };\nvar starts = [];\nvar stops = [];\nfor (var iro = 0; iro < 4; iro++) {\n    starts.push({\"header\":\"Start \"+(iro+1).toString(), \"data\":[]})\n    stops.push({\"header\":\"Stop \"+(iro+1).toString(), \"data\":[]})\n}\n\nfor (var i = 0; i < 7; i++) {\n    var day_vals = msg.payload[days[i]]; \n    if (day_vals == undefined) {\n        en.data.push(\"N/A\")\n        for (var j1 = 0; j1 < starts.length; ++j1) {\n            starts[j1].data.push(\"N/A\")\n            stops[j1].data.push(\"N/A\")\n        }\n    } else {\n        en.data.push(day_vals.enabled ? \"Yes\" : \"No\");\n        for (var j = 0; j < starts.length; ++j) {\n            starts[j].data.push(as_time_string(day_vals.start[j]))\n            stops[j].data.push(as_time_string(day_vals.stop[j]))\n        }\n    }\n}\nfunction as_time_string(mins) {\n    if (mins <= 0) {\n        return \"N/A\"\n    }\n    var h = Math.floor(mins/60);\n    var m = mins - 60*h;\n    var d = new Date(1970,0,1,h,m)\n    return d.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' });\n}\n\nvar res = [en];\nfor (var kk = 0; kk < 4; kk++) {\n    res.push(starts[kk]);\n    res.push(stops[kk]);\n}\n\nmsg.payload = res;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":1320,"wires":[["93e85493.7522e8","7148383b.644808"]]},{"id":"93e85493.7522e8","type":"debug","z":"87bfb993.cb80e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1190,"y":1380,"wires":[]},{"id":"49f5a63c.7595e","type":"switch","z":"87bfb993.cb80e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":850,"y":1320,"wires":[["3985a11.a9c025e"]]},{"id":"682d3167.01c698","type":"function","z":"87bfb993.cb80e","name":"","func":"if (msg.payload.solenoid == undefined) {\n    msg.payload = null;\n} else if (msg.payload.solenoid.state == undefined) {\n    msg.payload = null;\n} else {\n    msg.payload = msg.payload.solenoid.schedule;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":1320,"wires":[["49f5a63c.7595e"]]},{"id":"b45b75bd.b03b6","type":"debug","z":"87bfb993.cb80e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":500,"y":1740,"wires":[]},{"id":"e5df04a3.18176","type":"ui_chart","z":"87bfb993.cb80e","name":"","group":"b9b51147.45c4e8","order":2,"width":0,"height":0,"label":"Temperature (C)","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"30","removeOlder":"36","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1220,"y":160,"wires":[[]]},{"id":"6a132044.b272c8","type":"change","z":"87bfb993.cb80e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1020,"y":160,"wires":[["e5df04a3.18176"]]},{"id":"14fca92c.843fef","type":"mqtt-broker","name":"mqtt-broker","broker":"192.168.1.11","port":"8883","tls":"d2ed5f9b.8e29c8","clientid":"","usetls":true,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"b9b51147.45c4e8","type":"ui_group","name":"Environment","tab":"1842bc4a.3a6b74","order":1,"disp":true,"width":"6","collapse":false},{"id":"f74621dd.b3e348","type":"ui_group","name":"Control","tab":"1842bc4a.3a6b74","order":2,"disp":true,"width":"6","collapse":false},{"id":"92191fae.e04e28","type":"ui_group","name":"Discovery","tab":"1842bc4a.3a6b74","order":3,"disp":true,"width":"9","collapse":false},{"id":"d2ed5f9b.8e29c8","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"mosquitto-ca.crt","servername":"","verifyservercert":false},{"id":"1842bc4a.3a6b74","type":"ui_tab","name":"HyGarden","icon":"dashboard","order":2,"disabled":false,"hidden":false}]